<div class="row">
    <div class="col-8">
        <div id="cards" *ngFor="let film of films">
            <div class="card my-3 btn btn-dark" (click)="setSelectedItem(film)">
                <div class="card-body text-center">
                    <h4 class="card-title">{{film.title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted ">{{film.genre}} {{film.year}} {{film.duration}}m</h6>
                    <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 my-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedFilm.title">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Genre:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedFilm.genre">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Year:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedFilm.year">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Duration:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedFilm.duration">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Description:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedFilm.description">
        </div>
    </div>
</div>